.bio {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 0rem 0rem 4rem 0rem;
}

.bio::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    right: 50%;
    transform: translate(50%);
    bottom: 0%;
}

.bio.dark::after {
    background-color: white;
}

.personalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.personalInfo > img {
    object-fit: cover;
    object-position: 25% 25%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.personalInfo > p > span {
    font-size: 4rem;
    padding-right: 0.5rem;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
    line-height: 3.5rem;
}

.personalInfo > p {
    max-width: 350px;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.personalInfo > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    font-size: 1.8rem;
    height: 30px;
    max-width: 400px;
    font-weight: bold;
}

.personalInfo > a > svg {
    height: 30px;
    width: 30px;
}

.personalInfo a,
.personalProjects a {
    text-decoration: none;
}

.personalInfo a:hover,
.personalProjects a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.personalInfo > a:active {
    transition: transform 0.4s;
    transform: scale(0.95);
}

.personalProjects {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projectCard {
    width: 40%;
    min-width: 325px;
    height: 125px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    border: 1px solid black;
    border-radius: 16px;
    padding: 1rem;
    font-size: 1.3rem;
}

.projectCard.dark {
    border: 1px solid white;
}

.projectCard > a,
.projectCard > p {
    justify-self: flex-start;
    align-self: flex-start;
}

.projectCard > a {
    grid-area: 1 / 1 / 2 / 3;
}

.projectCard > a:hover svg {
    transform: translate(6px);
}

.projectCard > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.projectCard > div > a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projectCard > div > a > svg {
    height: 25px;
    width: 25px;
}

.projectCard > p {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.2rem;
    margin: 0;
    max-width: 250px;
    align-self: flex-start;
}

.projectCard h2 {
    margin: 0;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.projectCard h2 svg {
    max-width: 30px;
    max-height: 30px;
    display: inline;
    transition: all 0.2s;
}

@media screen and (max-width: 1475px) {
    .projectCard {
        height: 175px;
    }
}

@media screen and (max-width: 1250px) {
    .bio {
        flex-direction: column;
    }

    .personalInfo > a {
        padding-bottom: 1rem;
    }

    .personalInfo > p {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 850px) {
    .projectCard {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .projectCard {
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: auto;
        gap: 1rem;
    }

    .projectCard > div {
        align-items: flex-start;
        justify-content: flex-end;
    }

    .personalInfo > img {
        height: 175px;
        width: 175px;
    }

    .personalInfo > p > span {
        font-size: 2rem;
        line-height: 1.9rem;
    }

    .personalInfo > a {
        flex-wrap: wrap;
        text-align: center;
        height: 5rem;
    }
}
