.toolbox {
    position: relative;
    text-align: center;
    padding: 4rem 0rem;
}

.toolbox::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    right: 50%;
    transform: translate(50%);
    bottom: 0%;
}

.toolbox.dark::after {
    background-color: white;
}

.toolbox > h2 {
    padding: 0 0 4rem 0;
    margin: 0;
    font-size: 1.5rem;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

.tool {
    margin: 0;
    border: 1px solid black;
    border-radius: 16px;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><text x='0' y='24' font-size='24'>🔧</text></svg>")
            16 16,
        auto; */
}

.toolbox.dark .tool {
    border: 1px solid white;
}
