.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    margin-right: -0.1rem;
    background-color: white;
}

.header::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    right: 50%;
    transform: translate(50%);
    bottom: 0%;
}

.header.dark::after {
    background-color: white;
}

.header > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header > div > img {
    height: 40px;
    border: 1px solid white;
}

.header > div > h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

.dark {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1250px) {
    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {
    .header > div > img {
        height: 25px;
    }

    .header > div > h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .header {
        position: relative;
    }
}
