.error {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.error h2 {
    font-size: 3rem;
}

.error a {
    text-decoration: none;
    font-size: 2rem;
}

.error a:hover {
    text-decoration: underline;
}
