@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

* {
    font-family: inherit;
    color: inherit;
}

:root {
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    margin: 0;
    background-color: white;
}

body.dark {
    background-color: black;
}

#root {
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 2rem;
}

@media screen and (max-width: 800px) {
    #root {
        padding: 0 0.5rem;
    }
}
